*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::after{
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box;
}
.skin{
    position: relative;
    background:#ffe600;
    height: 100vh;
}
.nose{
    border: 10px solid;
    border-color:black transparent transparent transparent;
    width: 0px;
    height: 0px;
    position: relative;
    left: 50%;
    top: 145px;
    margin-left: -10px;
}
.yuan{
    position: absolute;
    width: 20px;
    height: 7px;
    background:black;
    top:-16px;
    left:-10px;
    border-radius:14px 14px 0 0;
}
.eye{
    border:2px solid #000;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    margin-left: -32px;
    top: 100px;
    background:#2e2e2e;
    border-radius: 50%;
}
.eye::before{
    content:"";
    display: block;
    border:3px solid white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:#fff;
    position: relative;
    left: 8px;
    top:2px;
}
.left{
    transform: translateX(-100px);
}
.right{
    transform: translateX(100px);
}
.mouth{
    border:1px solid red;
    width:200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top:170px;
    transform: translateX(-100px);
}
.mouth .up{

}
.mouth .uo .lip.left{
    border:5px solid black;
    height: 30px;
    widows: 100px;
    border-radius: 0 0 50px 50px;
}