*{
    box-sizing: border-box;
}
*::after{
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box;
}
.skin{
    position: relative;
}
.san{
    border: 10px solid;
    border-color:black transparent transparent transparent;
    width: 0px;
    height: 0px;
    position: relative;
    left: 50%;
    top: 200px;
    margin-left: -10px;
}
.yuan{
    position: absolute;
    width: 20px;
    height: 7px;
    background:black;
    top:-16px;
    left:-10px;
    border-radius:14px 14px 0 0;
}
.eye{
    border:1px solid red;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    margin-left: -32px;
    top: 100px;
    bacground:#000;
}
.left{
    transform: translateX(-100px);
}
.right{
    transform: translateX(100px);
}