*{
    box-sizing: border-box;
}
*::after{
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box;
}
.skin{
    position: relative;
}
.san{
    border: 10px solid;
    border-color:black transparent transparent transparent;
    width: 0px;
    height: 0px;
    position: relative;
    left: 50%;
    top: 200px;
    margin-left: -5px;
}
.yuan{
    position: absolute;
    width: 20px;
    height: 7px;
    border:2px solid black;
    top:-16px;
    left:-10px;
    border-radius:14px 14px 0 0;
}
.eye{
    border:1px solid red;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%s;
    margin-left: -15px;
    top: 100px;
}