.skin{
    position: relative;
}
.san{
    border-color:green transparent transparent transparent;
    width: 10px;
    height: 10px;
    position: relative;
    left: 50%;
    top: 200px;
    margin-left: -5px;
}