*{
    box-sizing: border-box;
}
*::after{
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box;
}
.skin{
    position: relative;
}
.san{
    border: 10px solid;
    border-color:red transparent transparent transparent;
    width: 0px;
    height: 0px;
    position: relative;
    left: 50%;
    top: 200px;
    margin-left: -5px;
}
.yuan{
    position: absolute;
    width: 20px;
    height: 6px;
    border:1px solid green;
    top:-15px;
    left:-10px;
    border-radius:10px 10px 0 0;

}